<h3>Pago Error</h3>
<p>Error occurred when trying to charge Pago for order ID <%= @order.id %>.</p>

<p>Error: <%= @error %></p>

<p>Please review error, determine whether any additional model validations are
  needed, and work with the customer to remediate.</p>
