<% destroy_label = line_item.quantity == 1 ? 'Remove' : 'Decrease' %>
<% if line_item == @current_item %>
<tr class="line-item-highlight">
<% else %>
<tr>
<% end %>
  <td class="text-right"><%= line_item.quantity %></td>
  <td>&times;</td>
  <td class="pr-2"><%= line_item.product.title %></td>
  <td class="text-right font-bold"><%= number_to_currency(line_item.total_price) %></td>
  <td><%= button_to destroy_label, line_item, method: :delete,
      class: 'ml-4 rounded-lg py-1 px-2 border border-gray-400 text-gray-600 bg-gray-200 text-xs' %></td>
</tr>
